[submodule ".\\Chronogine\\vendor\\spdlog"]
	path = .\\Chronogine\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule ".\\Chronogine\\vendor\\GLFW"]
	path = .\\Chronogine\\vendor\\GLFW
	url = https://github.com/glfw/glfw
